[
  {rabbit,
   [
     {tcp_listeners, [5672]},
     {disk_free_limit, {mem_relative, 1.0} },
     {cluster_partition_handling, ignore },
     {default_vhost, <<"/">>},
     {default_user, <<"user">>},
     {default_permissions, [<<".*">>, <<".*">>, <<".*">>]}
     {hearbeat,0}
   ]
  },
  {rabbitmq_management,
   [
     {listener, [{port, 15672 }, {ip, "0.0.0.0"}]}
   ]
  }
].
